
/*DEFININDO A LATERAL FIXA PARA O MENU*/
.menu-vertical{
    width: 200px;
    height: 100vh;
    position: fixed;
    background-image: url(1126.jpg);
    padding-top: 60px; /*Espaço entre o topo da tela*/
    margin: -2%;
}
/*REMOVENDO OS MARCADORES E ATRIBUINDO ESPAÇAMENTO PADRÃO DA LISTA*/
.menu-vertical li{
    list-style: none;
    padding: 0;
}
/*ESTILIZANDO OS LINKS DO MENU*/
.menu-vertical a{
    display: block;
    color: rgb(233, 224, 224);
    padding: 10px;
    text-decoration: none;
}
a{
    font-family: "Courier New", "Georgia", "Arial";
    font-weight: bold;
    font-size: 16px;
}
/*EVENTO HOVER*/
.menu-vertical a:hover{
    background-color: rgb(176, 45, 45);;
}